@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Indie Flower;
    src: url('../fonts/IndieFlower-Regular.ttf');
}

::-webkit-scrollbar {
    width: 10px;
    @apply bg-zinc-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
}

html, body {
    @apply bg-zinc-900;
}